<h1>{{title}}</h1>

<a href='/tests?source=take' >
  <button class='margin_button button-primary'>Take Test</button>
</a>

<br>

<a href='/tests?source=create' >
  <button class='margin_button button-primary'>Create Test</button>
</a>

<br>

<a href='/tests?source=view' >
  <button class='margin_button button-primary'>View Results</button>
</a>

<br>

<a href='/' >
  <button class='margin_button button-danger'>Logout</button>
</a>
