<h1>{{title}}</h1>

{{#if message}}
    <div class="alert">{{message}}</div>
{{/if}}
<br>

<a href='/login' >
  <button class='margin_button button-primary'>Login</button>
</a>

<br>

<a href='/signup' >
  <button class='margin_button button-primary'>Signup</button>
</a>
