<h1>{{title}}</h1>

{{#each test}}

  <form class="" method="get" action='/results' >
    <button name='test_id' value={{this.id}} class='margin_button button-primary'>{{this.name}}</button>
    <input type="hidden" name="name" value={{this.name}}>
  </form>

{{/each}}
