<h1>{{title}}</h1>
{{#if message}}
    <div class="alert">{{message}}</div>
{{/if}}
<br>
<form action="/signup" method="post">

  <div class="row">
    <div class="three columns offset-by-three right-text">
      Email :
    </div>
    <div class="three columns">
      <input type="text" name="email" value="">
    </div>
  </div>

  <div class="row">
    <div class="three columns offset-by-three right-text">
      Password :
    </div>
    <div class="three columns">
      <input type="password" name="password" value="">
    </div>
  </div>

  <div class="row">
    <div class="three columns offset-by-three right-text">
      Type your Password again:
    </div>
    <div class="three columns">
      <input type="password" name="password_repeat" value="">
    </div>
  </div>

<input class="margin_button button-primary" type="submit" value="Signup"><br>
</form>

<a href='/' >
  <button class='margin_button'>Back</button>
</a>

<br>
Already have an account?
<a href="/login">LOGIN</a>
<br>
